/**
 * Black: #200810
 * White: #F5EBE6
 * Blue: #5040DD
**/
html{
    background: #EBDCC8 url("/assets/images/Texture_EBDCC8.png");
}
h1, h2, h3, h4, h5, h6, p, li, table{
    color: #200810;
}
h1, h2, h3, h4, h5, h6{
    font-family: Trebuchet MS;
}
h1, h2{
    text-align:center;
}
h1{
    font-size:400%;
}
h2{
    font-size:200%;
}

p, li, table{
    font-family:georgia;
}

.menu{
    text-align:center;
    padding:10px 54px;
}
.menu ul{
    margin:0 auto;
    padding:0;
    list-style-type:none;
}
.menu li{
    margin:0;
    padding:10px 2%;
    display:inline;
}
.menu a{
    color:#004477;
}

.main{
    background-color:#FFFFFF;
    background-color:rgba(255, 255, 255, 0.5);
    max-width:794px;
    margin:0 auto;
    padding:10px 54px;
    border:1px solid #000000;
    overflow:hidden;
}

@media (min-device-width: 1024px) and (max-width: 480px), (max-device-width: 480px) {
    h1{
        font-size:200%;
    }
    .main {
        padding:10px 5%;
    }
}