/**
 *
**/
html{
    background-color:#FFD0E0;
}

.peta {
    position:absolute;
    left:600px;
    top:100px;
    width:64px;
    height:64px;
    background: transparent url("/assets/images/peta_balloon.png") no-repeat scroll 0 0;
    z_index: 1;
}
