footer{
  text-align: right;
  color: white;
  font-size: 10px;
}

html{
  background-color: #282c34;
}

h1, p, a, a:visited{
  color: #ddeeff;
}

#content{
  max-width: 800px;
  margin:auto;
}

#subtitle{
  font-size: 10em;
}
