<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>GetDinnyLaid</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dinny.css")">
</head>
    <body>
        <h1>Get Dinny laid.</h1>
        <div class="main">
            <h2>Who the hell are we?</h2>
            <p>We are a not-for-profit startup organisation created in 2014 with one simple aim; to <span class="get_dinny_laid">Get Dinny Laid</span>.</p>
            <h2>What the hell do we want?</h2>
            <p>We won't ask for your money,
                we won't ask for your email address,
                we won't spam your inbox with our latest offers and
                we won't bombard you with advertisements.</p>
            <p>The <span class="get_dinny_laid">Get Dinny Laid</span> team has one mission and one mission only; to
                <span class="get_dinny_laid">Get Dinny Laid</span> and will disband upon it's completion.</p>
            <h2>How the hell do you expect to do this?</h2>
            <p>
                It's not going to be easy to <span class="get_dinny_laid">Get Dinny Laid</span>. Or maybe it will cause he's a pretty cool guy.
                Handsome too. Would you like to meet him? Because I can hook you up with an introduction. Nothing too formal, maybe we'll head out for some lunch.
                A group of us so you won't be under pressure. Then maybe the rest of us have something important to do. We all have to leave but you don't have to leave
                so soon and Dinny doesn't either, if you follow our meaning.
                We'll leave the lunch spot up to Dinny 'cause that man knows some sweet eateries in the city. You will be impressed, we guarantee it.
                What to wear? No need to try to hard to impress him just relax, be yourself. Good luck.
            </p>
            <p>...You see what we did there?</p>
            <h2>Why the hell should you care?</h2>
            <p>This is all about spreading the word. Not for the betterment of the world, not for yourself, not for us,
                not even for Dinny. In fact forget about who it's for or why you should help, that's not the point. There is only one point and that point is to
                <span class="get_dinny_laid">Get Dinny Laid</span>.</p>
            <h2>When the hell do you expect this to happen?</h2>
            <p>The sooner the better.</p>
            <h2>Where the hell is this taking place?</h2>
            <p>That's up to Dinny.</p>

        </div>
    <p class="disclaimer">The views expressed on this page do not reflect the views of the site owner.
        This page is a mock-up for demonstration purposes to a 3rd party organisation.</p>
    </body>
</html>
