<h2>Projects</h2>
<h3>Software Capstone Projet</h3>
<h4>App Ecosystem</h4>
<p>Worked with a startup company in a team of 6 to produce an app and accompanying
    websites and server backend. My major contribution was creating the client facing
    internal websites.
    The websites written in, html, css, js/jQuery, with a python/flask back end.
</p>
<h3>Robotics Capstone Project</h3>
<h4>Face recognition using Artificial Neural Networks</h4>
<p>In a team of three we created a system in MATLAB which could recognise a known
    face once trained. The system worked very well in ideal conditions
    (consistent background and lighting) and reasonably well in less perfect
    conditions. My focus was the using Eigenfaces to extract 'feature' information
    for the images.
<p>
